<mat-toolbar >
    <mat-toolbar-row>
      <!-- <button mat-icon-button>
        <mat-icon >menu</mat-icon>
      </button> -->
      <a class="nav-link"  href="#" router-link="/" mat-button >
      <img src="assets/img/tourgylogo.svg" >
    </a>
      <span class="menu-spacer"></span>
      <div>
        <a class="nav-link" href="#" routerLink="/AdminLogin" mat-button class="nav"> Admin </a>
        <a class="nav-link" href="#" routerLink="/Login" mat-button class="nav"> Guide </a>
        <a class="nav-link" href="#" routerLink="/Help" mat-button class="nav"> Help </a>

      </div>
    </mat-toolbar-row>
  
   </mat-toolbar>
  


   